<!DOCTYPE html>
<html>

    <head> 
        <title>Shy's Blog </title>
    </head>
    <body>
        <header>
            <h1> Welcome to Shy's Blogs</h1>
            <h2><em>Hope you Likeee this page!!!</em> </h2>
            <p> <strong> 
                I started this blog to share my passions, 
                insights, and experiences, hoping to inspire, connect, 
                and create a space where ideas can flourish and conversations 
                can grow.
            </strong> </p>
            <h1> <a href = "/"> My Blogs </a></h1>
        </header>
        <article>
            <time>published: 27.02.2025, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>In the stillness, whispers of forgotten dreams rise, painting the void with colors of hope and resilience..</p>
        </article>

        <article>
            <time>published: 27.02.2025, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Time spirals, weaving moments into memories, as life dances in the delicate balance of chaos and order.</p>
        </article> 
        
    </body>

</html>